:root{
    --background-color-content: greenyellow;
    --question-color: #6491eb;
}

body{
    font-family: 'Jua';
}

.container{
    margin-top: 20px;
 
    border-style: solid;
    border-radius: 5px;
    display: grid;
    width: 70%;
    grid-template-areas: 
    "header header header"
    "   .   whatis   .   "
    "   .   motiva   .   "
    "   .   explan   .   "
    "   .   footer   .   ";
}

header{
    grid-area: header;
}

#what_is_tbb{
    
    grid-area: whatis;
    text-align: center;
}

#motivation{
    grid-area: motiva;
}

#explain{
    grid-area: explan;
}

footer{
    margin-top: 20px;
    grid-area: footer;
}

.intro_question{
    border-style: solid;
    background-color: greenyellow;
    border-radius: 10px;
    border-color: var(--question-color);
    padding: 8px;
    width: 180px;
}

.intro_answer{

    
}