:root{
    --background-color-content: greenyellow;
    --question-color: #6491eb;
}

body{
    font-family: 'Jua';
}

.container{
    margin-top: 20px;
    border-style: solid;
    border-radius: 5px;
    display: grid;
    width: 40%;
    grid-template-areas: 
    "header header header"
    "   .   whatis   .   "
    "   .   motiva   .   "
    "   .   explan   .   "
    "   .   footer   .   ";
}

header{
    grid-area: header;
}

#what_is_tbb{
    grid-area: whatis;
    text-align: center;
}

#motivation{
    grid-area: motiva;
}

#explain{
    grid-area: explan;
}

footer{
    margin-top: 20px;
    grid-area: footer;
}

.question_block{
    border-style: solid;
    background-color: greenyellow;
    border-radius: 10px;
    border-color: var(--question-color);
    margin-bottom: 30px;
    place-items: center;
    padding: 12px 24px;
}

.question_num{
    font-size: 36px;
}

.intro_question{
    display: block;
    margin: 20px;
    border-bottom: 1px solid;
    margin: 20;
}

.intro_answer{
}

@media screen and (max-width: 768px){
    .container{
        width: 70%;
    }
}