:root{
    --text-color: white;
    --background-color: #243343;
    --accent-color: greenyellow;
}

body{
    margin: 0;
    font-family: 'Jua';
}

.navbar_logo i{
    color: var(--accent-color);
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #243343;
    padding: 8px 12px;
}

.navbar_logo{
    font-size: 24px;
    color: var(--text-color);
}

.navbar_list{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_icons{
    list-style-type: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0;
}

.navbar_icons li{
    padding: 8px 12px;
}

.navbar_list li{
    padding: 8px 12px;
    font-size: 20px;
}

.navbar_list li:hover{
    background-color: #d49466;
    border-radius: 5px;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    top: 11px;
    font-size: 24px;
    color: var(--accent-color);
}

@media screen and (max-width: 768px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_logo{
        font-size: 32px;
    }

    .navbar_list{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_list li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons{
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toggleBtn{
        display: block;
        text-align: center;
        font-size: 32px;
    }

    .navbar_list.active,
    .navbar_icons.active {
        display: flex;
    }
}
